@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @{
        if (ViewBag.AccountId == null)
        {
            <h1 class="display-4">Train Station,PLease Login to buy a ticket</h1>
        }
        else
        {
            <h1 class="display-4">Welcome AccountID: @ViewBag.AccountId</h1>
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
